<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 bg-dark text-white" style="margin-top:20px;">
 
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
    <p>© 2020 Copyright: M. Fahmi Fachrozi</p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->