
<div class="container">
<div class="row">

<div class="col-sm-12 col-md-4 col-lg-4" *ngFor="let car of cars">  
<div class="card" style="width: 100%;">
    <img class="card-img-top" src="{{car.image}}" alt="Card image cap" style="max-height:250px; width:auto;">
    <div class="card-body">
      <h5 class="card-title">{{car.make}}</h5>
      <p class="card-text">{{car.description}}</p>
      <a routerLink="/detail/{{car.id}}" class="btn btn-success " style="width:100%;">Detail</a>
    </div>
  </div>
</div>  
 
</div>
</div>

