<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
    <a routerLink="" class="navbar-brand text-white">XYZ Cars</a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link text-white " href="javascript:void(0)">Item 1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="javascript:void(0)" tabindex="-1" aria-disabled="true">Item 2</a>
            </li>
        </ul>
    </div>
</div>
</nav>
<header style="margin-bottom:20px;">
    <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img class="img-fluid" src="assets/images/car.png" width="10%" height="auto" alt="">
        </div>
        <div class="col-lg-12 text-center">
                <h1>{{title}}</h1>
        </div>
    </div>
    </div>
    </header>
