<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="assets/images/welcome.png" width="60%" height="auto" alt="">
        </div>
        <div class="col-md-6 ">
            <div class="row">
            <div class="col-md-12 text-right">
             <h3>Welcome to XYZ Car</h3>
             <p>
                 To see some our new car just click on the list button bellow
             </p>
            </div>
            <div class="col-md-12 border border-light p-4 mb-8 text-right">
                <button routerLink="list-car" class="btn btn-md btn-primary" style="width:50%;">List of Car</button>
            </div>
        </div>
        </div>
    </div>
</div>