
<div class="container">
    <div class="row">
     <div class="col-md-12 text-center">   
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">Detail of {{car.make}}</h5>
            </div>
            <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                    <img class="card-img-top" src="{{car.image}}" alt="Card image cap" style="max-height:300px; width:auto;">
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                    <div class="col-md-12">  
                    <table class="text-left">
                        <tr>
                            <th class="align-top">Make</th>
                            <td>:</td>
                            <td> {{car.make}} </td>
                        </tr>
                        <tr>
                            <th class="align-top">Model</th>
                            <td>:</td>
                            <td> {{car.model}} </td>
                        </tr>
                        <tr>
                            <th>Year</th>
                            <td>:</td>
                            <td> {{car.year}} </td>
                        </tr>
                        <tr>
                            <th class="align-top">Description</th>
                            <td class="align-top">:</td>
                            <td> {{car.description}} </td>
                        </tr>
                    </table>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12 ">  
                        <button (click)="goBack()" class="btn btn-md btn-danger" style="width:40%;">Go Back</button>
                       </div>
                    </div> 
                  </div>
              </div>  
             
            </div>
          </div>  
     </div>
    </div>  
</div>


